extend ./index
include ../../../views/sidebar

block header
    h1 Edit secrets: #{userApp.name}

block main
    form.main-view-with-sidebar(method="POST", action=`/user-apps/${userApp.folderName}/secrets`)
        .main-view-with-sidebar__main.main-view-with-sidebar__main_borderless
            textarea.flex-1.textarea_code(name="secrets", autofocus)= secrets
        .main-with-with-sidebar__sidebar
            +sidebar-panel
                button.button.button_primary.full-width() Save
            +sidebar-panel
                +sidebar-panel-header
                    | Format
                +sidebar-panel-text
                    p.pt-3
                        | KEY_1=Something
                        br
                        | KEY_2=Something else
            +sidebar-panel
                +sidebar-panel-header
                    | Who can see this?
                +sidebar-panel-text
                    p.pt-3 Secrets are only directly viewable by other admins. However, they are exposed to the app as environment variables.